* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif; 
} 
.body {
      min-height: 100vh; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
      background: #212121 
} 
.form { 
    background: #ffffff; 
    padding: 30px 40px; 
    width: 30rem; 
    border-radius: 12px; 
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); 
    height:33rem;
}
.form h1 { 
    text-align: center; 
    color: #212121; 
    font-size: 2rem;
}
.form label { 
    font-weight: 600; 
    color: #212121; 
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"]
{ 
    color: #212121;
  width: 100%; 
  padding: 10px; 
  margin-top: 6px; 
  border: 1px solid #ccc; 
  border-radius: 6px; 
  outline: none; 
  transition: 0.3s ease; 
} 
.form input:hover{ 
  box-shadow: 0 0 10px rgba(255, 65, 108, 0.5); 
}
.form input:focus{ 
      border-color: #615054; 
      box-shadow: 0 0 12px rgba(136, 121, 125, 0.8); 
}
.form button { 
    width: 100%; 
    padding: 12px; 
    margin-top: 20px; 
    border: none; 
    border-radius: 8px; 
    background: #212121; 
    color: white; 
    font-size: 16px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: 0.3s ease; 
} 
.form button:hover { 
    box-shadow: 0 8px 20px rgba(158, 153, 154, 0.6); 
    transform: translateY(-2px); 
} 